.container {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 24px 64px;
  box-shadow: 0 2px 4px var(--shadow-color-primary);
}

.container > h2 {
  font-size: 1.25em;
  color: var(--text-primary);
}

@media screen and (min-width: 480px) {
  .container > h2 {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.75em;
  }
}
