.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 24px;
  border-top: 1px solid var(--border-color-primary);
}
.container > small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}
.container > small > p:not(:last-child) {
  margin-bottom: 8px;
}
